@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TimesNewRoman";
    src: url("../assets/fonts/times_new_roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
