.modalBackground {
    width             : 100vw;
    height            : 100vh;
    //background-color: #ffffff;
    background-color  : rgba(0, 0, 0, 0.5);
    position          : fixed;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    z-index           : 999;
}

.checkout-modalContainer {
    width           : 700px;
    height          : auto;
    border-radius   : 12px;
    background-color: white;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display         : flex;
    flex-direction  : column;
    padding         : 0px;
    position        : relative;

    iframe {
        border-radius: 12px;
    }

    .titleCloseBtn {
        position        : absolute;
        top             : 5px;
        right           : 25px;
        font-weight     : bold;
        background-color: transparent;
        border          : none;
        font-size       : 25px;
        cursor          : pointer;
    }

}

#headerTitle {
    width      : 100%;
    text-align : center;
    font-family: 'open sans', sans-serif;
    padding-top: 3rem;
    margin     : 0;
    font-size  : calc(1.2rem + 2vmin);
    color      : rgb(220, 135, 32);
}

.text-color {
    color: rgb(220, 135, 32);
}

#loginform .row {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-top   : 2rem;
    max-width     : 100%;
    width         : 100%;
    color         : rgb(220, 135, 32);
    margin-left   : 0px;
    margin-right  : 0px;
}

#loginform .row label {
    width: 100%;
    color: rgb(220, 135, 32) !important;
}

#loginform .row p {
    width     : 100%;
    text-align: center;
    color     : rgb(220, 32, 32) !important;
}

#loginform .row input {
    width         : 100%;
    box-sizing    : border-box;
    border        : none;
    font-size     : 1rem;
    text-align    : center;
    padding-bottom: 0.5rem;
    box-shadow    : inset 0px -3px 0px 0px rgba(134, 134, 134, 0.2);
    transition    : box-shadow 0.2s ease-in;
    padding-left  : 1.5rem;
    padding-right : 1.5rem;
}

#loginform .row input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(23, 189, 192, 0.7) !important;
}

#loginform .row input:hover {
    box-shadow: inset 0px -3px 0px 0px rgba(23, 189, 192, 0.7) !important;
}

#loginform .row input::-webkit-input-placeholder {
    opacity   : 1;
    transition: opacity 0.25s ease-out;
}

#loginform .row input:hover::-webkit-input-placeholder,
#loginform .row input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#loginform .row label {
    text-align: center;
    color     : rgba(187, 187, 187, 0.9);
}

#loginform .row button {
    border-radius: 25px;
    width        : 50%;
    height       : 40px;
    font-size    : 1.3rem;
    color        : white;
    font-weight  : 700;
    background   : rgb(34, 193, 195);
    background   : linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border       : 0px;
    cursor       : pointer;
    transition   : opacity 0.25s ease-out;
}

.login-modal-btn {
    border-radius: 25px;
    font-size    : 1.3rem;
    color        : white;
    font-weight  : 700;
    background   : rgba(253, 187, 45, 1);
    background   : linear-gradient(90deg, rgba(163, 120, 29, 1) 0%, rgba(217, 166, 55, 1) 100%);
    border       : 0px;
    cursor       : pointer;
    transition   : opacity 0.25s ease-out;
}

#loginform .row button:hover {
    opacity: 0.8;
}

#button {
    padding-bottom: 2rem;
}

#loginform .row span {
    margin-left: -1.3rem;
    margin-top : 0.1rem;
}

#loginform .row .normal-font-size {
    font-size: calc(10px + 1vmin);
    color    : rgb(220, 135, 32);
}